.landing-page-main {
  height: calc(100 * var(--vh));
  min-height: 100%;
  width: calc(100 * var(--vw));
  min-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  .landing-link-container {
    margin: 1rem;
    font-size: 2.5rem;
    animation: fadeIn 0.25s linear;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: absolute;
  }

  .middle-landing-container {
    .orange-neon {
      font-family: neon;
      color: #fb4264;
      font-size: 8rem;
      line-height: 8vw;
      text-shadow: 0 0 3vw #f40a35;
      animation: redFlicker 4s linear infinite;
      -moz-animation: redFlicker 4s linear infinite;
      -webkit-animation: redFlicker 4s linear infinite;
      -o-animation: redFlicker 4s linear infinite;
      margin-bottom: 1rem;
    }

    .blue-neon {
      font-family: neon;
      color: #426dfb;
      font-size: 4rem;
      line-height: 4vw;
      text-shadow: 0 0 3vw #2356ff;
      animation: blueFlicker 3.35s linear infinite;
      -moz-animation: blueFlicker 3.35s linear infinite;
      -webkit-animation: blueFlicker 3.35s linear infinite;
      -o-animation: blueFlicker 3.35s linear infinite;
    }
  }

  .skills-link {
    top: 0;
    left: 0;

    .skills-link-text {
      text-shadow: 0 0 1vw #7000a3, 0 0 3vw #7000a3, 0 0 10vw #7000a3, 0 0 10vw #7000a3, 0 0 0.4vw #bc0be9,
        0.3vw 0.3vw 0.1vw #3c005f;
      color: #e100ff;
      margin: 0;
      font-family: neon;
      &:hover {
        text-shadow: 0 0 1vw #b007ff, 0 0 3vw #b007ff, 0 0 10vw #b007ff, 0 0 10vw #b007ff, 0 0 0.4vw #cc00ff,
          0.3vw 0.3vw 0.1vw #3c005f;
      }
    }
  }

  .projects-link {
    top: 0;
    right: 0;

    .projects-link-text {
      text-shadow: 0 0 1vw #008b51, 0 0 3vw #008b51, 0 0 10vw #008b51, 0 0 10vw #008b51, 0 0 0.4vw #008b51,
        0.3vw 0.3vw 0.1vw #043127;
      color: #00ffdd;
      margin: 0;
      font-family: neon;
      &:hover {
        text-shadow: 0 0 1vw #03d47d, 0 0 3vw #03d47d, 0 0 10vw #03d47d, 0 0 10vw #03d47d, 0 0 0.4vw #03d47d,
          0.3vw 0.3vw 0.1vw #043127;
      }
    }
  }

  .about-link {
    bottom: 0;
    left: 0;

    .about-link-text {
      text-shadow: 0 0 1vw #96a701, 0 0 3vw #96a701, 0 0 10vw #96a701, 0 0 15vw #96a701, 0 0 0.4vw #96a701,
        0.3vw 0.3vw 0.1vw #504400;
      color: #f7fc00;
      margin: 0;
      font-family: neon;
      &:hover {
        text-shadow: 0 0 1vw #dcf118, 0 0 3vw #dcf118, 0 0 10vw #dcf118, 0 0 10vw #dcf118, 0 0 0.4vw #dcf118,
          0.3vw 0.3vw 0.1vw #504400;
      }
    }
  }
}

.contact-link {
  bottom: 0;
  right: 0;

  .contact-link-text {
    text-shadow: 0 0 1vw #b60000, 0 0 3vw #b60000, 0 0 10vw #b60000, 0 0 10vw #b60000, 0 0 0.4vw #b60000,
      0.3vw 0.3vw 0.1vw #500000;
    color: #ff0000;
    margin: 0;
    font-family: neon;
    &:hover {
      text-shadow: 0 0 1vw #ec0101, 0 0 3vw #ec0101, 0 0 10vw #ec0101, 0 0 10vw #ec0101, 0 0 0.4vw #ec0101,
        0.3vw 0.3vw 0.1vw #500000;
    }
  }
}

@media (max-width: 1100px) {
  .landing-page-main {
    .middle-landing-container {
      .orange-neon {
        font-size: 5rem;
      }

      .blue-neon {
        font-size: 2.5rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .landing-page-main {
    .middle-landing-container {
      .blue-neon {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .landing-page-main {
    .landing-link-container {
      font-size: 1.75rem;
    }

    .middle-landing-container {
      .orange-neon {
        font-size: 3.25rem;
      }

      .blue-neon {
        font-size: 1.25rem;
      }
    }
  }
}

@media (max-height: 450px) {
  .landing-page-main {
    min-height: 100vh;
    .landing-link-container {
      font-size: 1.75rem;
    }

    .middle-landing-container {
      .orange-neon {
        font-size: 3.25rem;
      }

      .blue-neon {
        font-size: 2.25rem;
      }
    }
  }
}

@keyframes redFlicker {
  0% {
    //Bright
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128,
      0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  1% {
    //Dim
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b,
      0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }

  2% {
    //Bright
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128,
      0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  3% {
    //Dim
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b,
      0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
  4% {
    //Bright
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128,
      0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  5% {
    //Dim
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b,
      0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
  6% {
    //Bright
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128,
      0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  65% {
    //Bright
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128,
      0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  66% {
    //Dim
    text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b,
      0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
  67% {
    //Bright
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128,
      0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
  100% {
    //Bright
    text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128,
      0.5vw 0.5vw 0.1vw #806914;
    color: #fed128;
  }
}

@keyframes blueFlicker {
  0% {
    //Bright
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
      0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  22% {
    //Bright
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
      0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  23% {
    //Dim
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180,
      0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
  24% {
    //Bright
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
      0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  25% {
    //Bright
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
      0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  26% {
    //Dim
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180,
      0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
  27% {
    //Bright
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
      0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  73% {
    //Bright
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
      0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  74% {
    //Dim
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180,
      0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
  75% {
    //Bright
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
      0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  100% {
    //Bright
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
      0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
}
