.projects-page-main {
	width: 100vw;
	height: 100vh;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	overflow: scroll;
}

.projects-container {
	width: 100%;
	height: 95vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

.project-card {
	width: 700px;
	height: 450px;
	margin: 2rem;
	border-radius: 18px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	background-position: center;
	background-size: cover;
	animation: fadeIn .25s linear;
	animation-delay: .2s;
	animation-fill-mode: forwards;
	opacity: 0;
	z-index: 1;
	
	.card-text, div, p, a {
		opacity: 0;
		z-index: 0;
	}

	.card-text {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	&:hover {
		.card-text {
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.884);
			opacity: 1;
			transition: .25s;
			z-index: 2;

			div, p, a {
				opacity: 1;
				z-index: 2;
			}

			div {
				ul {
					text-align: left;
		
					li {
						margin-top: 1rem;
					}
				}
			}

			h2 {
				text-transform: uppercase;
				margin: 0;
			}

			p {
				text-decoration: underline;
				z-index: 2;

				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}


.link-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.small-link-container {
	display: none;
}

.technologies-list {
	margin: 2rem 0;
	color: salmon;
	// color: #0bd4ba;
	text-align: center;
}

.modal-wrapper {
	height: 100vh;
	width: 100vw;
	background-color: rgba(20, 20, 20, 0.808);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	z-index: 1;
}

.modal-back-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2.5rem;

	&:hover {
		cursor: pointer;
	}
}

.image-container {
	img {
		width: 600px;
		height: 370px;
		;
	}
}

.slider {
	width: 55vw;
	height: auto;

	div {
		img {
			width: 100%;
			height: auto;
		}
	}
}

.touch-for-detail-text {
	display: none;
}



//MEDIA QUERIES
@media (max-width: 415px) {
	.hover-for-detail-text {
		display: none;
	}

	.touch-for-detail-text {
		display: block;
	}

	.projects-container {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
	}

	.project-card {
		width: 95vw;
		height: 230px;
	}

	.small-link-container {
		display: block;
	}
}

@media (max-width: 814px) {
	.hover-for-detail-text {
		display: none;
	}

	.touch-for-detail-text {
		display: block;
	}

	.projects-container {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
	}

	.project-card {
		width: 95vw;
		height: 230px;
	}

	.card-text {
		ul {
			display: none;
		}
		.technologies-list {
			width: 80%;
			margin: 0;

		}
		h5 {
			display: none;
		}
		.link-container {
			display: none;
		}
	}
}