.projects-page-main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	overflow: scroll;

	h3 {
		margin-bottom: 1rem;
	}
}

.projects-container {
	width: 95vw;
	height: auto;
	display: flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

.project-card {
	width: 600px;
	height: 370px;
	border-radius: 18px;
	border: 1px solid black;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: cover;
	animation: fadeIn .33s linear;
	animation-delay: .25s;
	animation-fill-mode: forwards;
	opacity: 0;
	z-index: 1;
	margin: 2rem;

	card-text {
		opacity: 0;
		transition: .25s;
		z-index: 0;
	}

	div {
		opacity: 0;
		z-index: 0;
	}

	p {
		z-index: 0;
	}

	a {
		z-index: 0;
	}

	&:hover {
		.card-text {
			width: 600px;
			height: 370px;
			border-radius: 18px;
			border: 1px solid black;
			overflow: hidden;
			background-color: rgba(0, 0, 0, 0.795);
			opacity: 1;
			transition: .25s;
			z-index: 2;

			h2 {
				text-transform: uppercase;
				margin: .25rem;
			}

			p {
				text-decoration: underline;
				z-index: 2;

				&:hover {
					cursor: pointer;
				}
			}
		}

		a {
			z-index: 2;
		}

		div {
			opacity: 1;
			z-index: 2;

			ul {
				text-align: left;

				li {
					margin-top: 1rem;
				}
			}
		}
	}
}


.link-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.small-link-container {
	display: none;
}

.technologies-list {
	margin: 2rem 0;
	color: salmon;
}

.modal-wrapper {
	height: 100vh;
	width: 100vw;
	background-color: rgba(20, 20, 20, 0.808);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	z-index: 1;
}

.modal-back-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2.5rem;

	&:hover {
		cursor: pointer;
	}
}

.image-container {
	img {
		width: 600px;
		height: 370px;
		;
	}
}

.slider {
	width: 70vw;
	height: 75vh;

	div {
		img {
			width: 70vw;
			height: auto;
		}
	}
}

.touch-for-detail-text {
	display: none;
}



//MEDIA QUERIES
@media (max-width: 415px) {
	.hover-for-detail-text {
		display: none;
	}

	.touch-for-detail-text {
		display: block;
	}

	.projects-container {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
	}

	.project-card {
		width: 95vw;
		height: 230px;
	}

	.small-link-container {
		display: block;
		div {
			margin: 1rem 0;
		}
	}
}

@media (max-width: 814px) {
	.hover-for-detail-text {
		display: none;
	}

	.touch-for-detail-text {
		display: block;
	}

	.projects-container {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
	}

	.project-card {
		width: 95vw;
		height: 230px;
	}

	.card-text {
		ul {
			display: none;
		}
		.technologies-list {
			width: 80%;
			margin: 0;

		}
		h5 {
			display: none;
		}
		.link-container {
			display: none;
		}
	}
}