.about-page-main {
	height: 100vh;
   min-height: 100vh;
   width: 100vw;
   min-width: 100vw;
   overflow: auto;
   display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	padding: 2rem;

	.about-title {
		margin: 0;
		font-family: neon;
		color: #f7fc00;
		text-shadow: 0 0 1vw #dcf118, 0 0 3vw #dcf118, 0 0 10vw #dcf118, 0 0 10vw #dcf118, 0 0 .4vw #dcf118, .3vw .3vw .1vw #504400;
	}

	.about-text {
		height: 90%;
		width: 90%;
		max-width: 1400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// padding-bottom: 1rem;
		margin-bottom: 1rem;
		
		p {
			font-size: 1.5rem;
		}
	}
}

// Media Queries
@media (max-width: 750px) {
	.about-page-main {
		height: 100%;
		background-color: black;
		
		.about-text {
			justify-content: flex-start;
		}
	}
}