.about-page-main {
   display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
		h1 {
			opacity: 0;
			animation: fadeIn .5s linear;
			animation-delay: 1s;
			animation-fill-mode: forwards;
		}
}


.about-container {
	box-sizing: border-box;
	border: 1px solid white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	animation: expand .5s linear;
   animation-delay: .25s;
	animation-fill-mode: forwards;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.521);
	overflow: auto;
}

.about-text {
	animation: fadeIn .5s linear;
   animation-delay: 1s;
	animation-fill-mode: forwards;
	opacity: 0;
	padding: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
		p {
			font-size: 1.5rem;
		}
}

.about-img {
	width: 10rem;
	height: auto;
}

@media (max-width: 900px) {
	.about-text {
		p {
			font-size: .8rem;
		}
	}
}