.contact-page-main {
   display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	padding: 2rem;
	overflow: hidden;
	
	.contact-title {
		opacity: 0;
		animation: fadeIn 0s linear;
		animation-delay: 0s;
		animation-fill-mode: forwards;
		margin: 0 0 2rem 0;
		font-family: neon;
		color: #ff0000;
		text-shadow: 0 0 1vw #ec0101, 0 0 3vw #ec0101, 0 0 10vw #ec0101, 0 0 10vw #ec0101, 0 0 .4vw #ec0101, .3vw .3vw .1vw #500000;
	}
	
	.contact-icon-container {
		height: 80vh;
		animation: fadeIn .25s linear;
		animation-delay: .2s;
		animation-fill-mode: forwards;
		opacity: 0;
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		div {
			height: 25%;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			i {
				font-size: 3rem;
				margin-bottom: .5rem;
				color: #ffffff;
				text-shadow: 0 0 1vw #b1b1b1, 0 0 3vw #b1b1b1, 0 0 10vw #b1b1b1, 0 0 10vw #b1b1b1, 0 0 .4vw #b1b1b1, .3vw .3vw .1vw #444141;
			}
		
			p {
				font-size: 1.5rem;
				margin: 5px;
			}
			
			.contact-icon {
				font-size: 2rem;
			}
		}
	}

	@media(max-width: 1000px) {
		.contact-icon-container {
			div {
				i {
					font-size: 2rem;
				}
		
				p {
					font-size: 1rem;
				}
			}
		}
	}
}



// Animation
@keyframes contact-expand {
	0% {
		opacity: 1;
		width: 0vw;
		height: 0vw;
	}
	50% {
		opacity: 1;
		width: 50vw;
		max-width: 900px;
		height: 0vh;
	}
	100% {
		opacity: 1;
		width: 50vw;
		max-width: 900px;
		height: 70vh;
	}
}

//MEDIA QUERIES
@media(max-width: 813px) {
	.contact-text {
		div {
			margin: 1rem;
			p {
				font-size: 1rem;
			}
		}
	}
}