@import './globalStyles.scss';

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  box-sizing: border-box;
  background-image: $background-image;
  background-size: cover;
  background-repeat: none;
  color: $primary-text-color;
}

.page {
  width: 100vw;
  height: 100vh;
}

.link {
  text-decoration: none;
  color: white;

  &:visited {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }

  &:hover, &:active {
    text-decoration: none;
  }
}

a {
  color: white;
}