//FONTS
@font-face {
	font-family: neon;
	src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

//VARIABLES
$primary-background-color: black;
$primary-text-color: white;
$background-image: url('../src//assets//images/brick-wall.jpg');

//SELECTORS
.back-button {
   font-size: 2rem;
   position: fixed;
   top: 3%;
   left: 2%;
   transition: .33s;
   text-shadow: 0 0 1vw #b1b1b1, 0 0 3vw #b1b1b1, 0 0 10vw #b1b1b1, 0 0 10vw #b1b1b1, 0 0 .4vw #b1b1b1, .3vw .3vw .1vw #444141;
   color: #ffffff;
	margin: 0;

      &:hover {
         transition: .33s;
         font-size: 2.5rem;
      }
}

//ANIMATIONS
@keyframes expand {
	0% {
		opacity: 1;
		width: 0vw;
		height: 0vw;
	}
	50% {
		opacity: 1;
		width: 70vw;
		height: 0vh;
	}
	100% {
		opacity: 1;
		width: 70vw;
		height: 80vh;
	}
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}